# Getting Knowledge About Dataframe

We are going to use IMDB Top-250 movies dataset in this example.
You can download the dataset with link in the below.

https://www.kaggle.com/datasets/yehorkorzh/imdb-top-250-movies

In [3]:
# 1-Import the pandas library and alias it as pd.
import pandas as pd

In [4]:
# 2-Import the dataset and assign it to a variable named films.

films = pd.read_csv("imdb_movies.csv")

In [14]:
# 3-What are the first 4 rows in the dataset?

films.head(4)

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
0,0,1,The Shawshank Redemption,1994,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,Nominated for 7 Oscars. Another 19 wins & 30 n...,80.0,9.3,"1,825,626",tt0111161,movie,27 Jan 1998,NaN,Columbia Pictures,NaN
1,1,2,The Godfather,1972,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,Won 3 Oscars. Another 23 wins & 27 nominations.,100.0,9.2,"1,243,444",tt0068646,movie,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com
2,2,3,The Godfather: Part II,1974,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,Won 6 Oscars. Another 10 wins & 20 nominations.,85.0,9.0,"856,870",tt0071562,movie,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/
3,3,4,The Dark Knight,2008,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,Won 2 Oscars. Another 151 wins & 153 nominations.,82.0,9.0,"1,802,351",tt0468569,movie,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/

In [15]:
# 3-What are the last 2 rows in the dataset?

films.tail(2)

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,...,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
248,248,249,The Straight Story,1999,03 Nov 1999,112 min,"Biography, Drama",David Lynch,"John Roach, Mary Sweeney","Sissy Spacek, Jane Galloway Heitz, Joseph A. C...",...,Nominated for 1 Oscar. Another 14 wins & 37 no...,86.0,8.0,"67,045",tt0166896,movie,07 Nov 2000,NaN,Buena Vista Pictures,http://disney.go.com/DisneyPictures/straightst...
249,249,250,Slumdog Millionaire,2008,25 Dec 2008,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",...,Won 8 Oscars. Another 144 wins & 126 nominations.,86.0,8.0,"679,975",tt1010048,movie,31 Mar 2009,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/

In [16]:
# 4-How many rows are in the dataset?

films.shape[0]

250

In [17]:
# 4-How many columns are in the dataset?

films.shape[1]

23

In [18]:
# 5-What are the names of the columns?

films.columns

Index(['Unnamed: 0', 'Num', 'Title', 'Year', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD',
       'BoxOffice', 'Production', 'Website'],
      dtype='object')

In [19]:
# 6-What is the data type of each column?

films.dtypes

Unnamed: 0      int64
Num             int64
Title          object
Year            int64
Released       object
Runtime        object
Genre          object
Director       object
Writer         object
Actors         object
Plot           object
Language       object
Country        object
Awards         object
Metascore     float64
imdbRating    float64
imdbVotes      object
imdbID         object
Type           object
DVD            object
BoxOffice      object
Production     object
Website        object
dtype: object

In [20]:
# 7-How is the dataset indexed?

films.index

RangeIndex(start=0, stop=250, step=1)

In [21]:
# 8-How to see summary of descriptive statistics for dataframe ?

films.describe()

       Unnamed: 0         Num         Year   Metascore  imdbRating
count  250.000000  250.000000   250.000000  177.000000  250.000000
mean   124.500000  125.500000  1982.676000   80.045198    8.244000
std     72.312977   72.312977    24.809212   11.030340    0.245735
min      0.000000    1.000000  1921.000000   53.000000    8.000000
25%     62.250000   63.250000  1961.250000   72.000000    8.100000
50%    124.500000  125.500000  1988.000000   81.000000    8.200000
75%    186.750000  187.750000  2003.000000   89.000000    8.375000
max    249.000000  250.000000  2017.000000  100.000000    9.300000

In [25]:
# 9-Change the number of display of max columns and show the first 2 rows in the dataset.

pd.set_option('display.max_columns', 25)
films.head(2)

,Unnamed: 0,Num,Title,Year,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website
0,0,1,The Shawshank Redemption,1994,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,English,USA,Nominated for 7 Oscars. Another 19 wins & 30 n...,80.0,9.3,"1,825,626",tt0111161,movie,27 Jan 1998,NaN,Columbia Pictures,NaN
1,1,2,The Godfather,1972,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",USA,Won 3 Oscars. Another 23 wins & 27 nominations.,100.0,9.2,"1,243,444",tt0068646,movie,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com