# Filtering and Aggregate Functions

In [1]:
# 1-Import the pandas library and alias it as pd.

import pandas as pd

In [2]:
#Â 2-Create a DataFrame with the following data:

"""
                        Name   Age Country Salary
                        John    25   USA    50000
                        Sarah   32  Canada  65000
                        Peter   45   UK     80000
                        Alice   28   USA    55000
                        Tom     35  Canada  70000
                        Jane    41   UK     75000

"""

dfDict = {"Name":["John","Sarah","Peter","Alice","Tom","Jane"],"Age":[25,32,45,28,35,41],
          "Country":["USA","Canada","UK","USA","Canada","UK"],"Salary":[50000,65000,80000,55000,70000,75000]}

df = pd.DataFrame(dfDict)
df

    Name  Age Country  Salary
0   John   25     USA   50000
1  Sarah   32  Canada   65000
2  Peter   45      UK   80000
3  Alice   28     USA   55000
4    Tom   35  Canada   70000
5   Jane   41      UK   75000

In [9]:
# 3-What is the minimum age in the dataset?

df.Age.min()

25

In [10]:
# 4-What is the maximum salary in the dataset?

df.Salary.max()

80000

In [11]:
# 5-What is the average salary in the dataset?

df.Salary.mean()

65833.33333333333

In [12]:
# 6-What is the median age in the dataset?

df.Age.median()

33.5

In [13]:
# 7-What are the unique countries in the dataset?

df.Country.unique()

array(['USA', 'Canada', 'UK'], dtype=object)

In [14]:
# 8-How many individuals are from Canada?
#    How many individuals are from the USA?
#    How many individuals are from the UK?

df.Country.value_counts()

USA       2
Canada    2
UK        2
Name: Country, dtype: int64

In [15]:
# 9-What is the salary range for individuals from Canada?

df[df.Country=="Canada"]["Salary"].min() , df[df.Country=="Canada"]["Salary"].max()

(65000, 70000)

In [16]:
# 10-What is the average salary for individuals from the USA?

df[df.Country=="USA"].Salary.mean()

52500.0

In [17]:
# 11-How many individuals are between the ages of 30 and 40?

len( df[(df.Age>30) & (df.Age<40)] )

2

In [18]:
# 12-What is the average age for individuals with a salary greater than $60,000?

df[df.Salary > 60000].Age.mean()

38.25

In [19]:
# 13-What is the total salary paid to individuals from Canada?

df[df.Country=="Canada"].Salary.sum()

135000

In [20]:
# 14-What is the total salary paid to individuals from Canada?
#    What is the total salary paid to individuals from the USA?
#    What is the total salary paid to individuals from the UK?

df.groupby(by="Country").Salary.sum()

Country
Canada    135000
UK        155000
USA       105000
Name: Salary, dtype: int64

In [21]:
# 15-What is the total salary paid to individuals under the age of 30?

df[df.Age<30].Salary.sum()

105000

In [22]:
# 16-What is the total salary paid to individuals between the ages of 30 and 40?

df[(df.Age>30) & (df.Age<40)].Salary.sum()

135000

In [23]:
# 17-What is the percentage of individuals in the dataset from each country?

country_counts = df["Country"].value_counts()

country_percentages = country_counts / len(df) * 100

country_percentages

USA       33.333333
Canada    33.333333
UK        33.333333
Name: Country, dtype: float64

In [24]:
# 18-What is the total salary paid to individuals who are 30 years old or younger and from Canada?

df[ (df["Age"]<=30) & (df["Country"]=="Canada")].Salary.sum()

0

In [25]:
# 19-What is the average salary for individuals who are over 40 years old and from the UK?

df[ (df["Age"]>40) & (df["Country"]=="UK") ].Salary.mean()

77500.0

In [26]:
# 20-What is the median age of individuals who have a salary greater than the overall median salary?


# Calculate the median salary for the entire dataset
overall_median_salary = df['Salary'].median()

# Filter the dataframe to include only individuals with a salary greater than the overall median salary
high_salary_df = df[df['Salary'] > overall_median_salary]

# Calculate the median age of the high salary individuals
median_age_high_salary = high_salary_df['Age'].median()

# Display the result
print(median_age_high_salary)

41.0

In [27]:
# 21-How many individuals have a salary greater than or equal to $70,000 and are from the USA?

filt= (df["Salary"]>=70000) & (df["Country"]=="USA")

len(df[filt])

0

In [28]:
# 22-What is the average salary for individuals between the ages of 25 and 35 who are not from the USA?

filt2  = ( (df["Age"]>25) & (df["Age"]<35) )

df[ filt2 & (df["Country"]!="USA") ]

    Name  Age Country  Salary
1  Sarah   32  Canada   65000